.addTransfer {
  pointer-events: all;
  width: auto;
}
 .icon {
  position: absolute;
  right: 0;
  &.deleteIcon {
    color: red;
    top:40px;
  }
 }

 .transferList {
  background-color: lightgoldenrodyellow;
  padding: 10px 30px;
  .addIcon {
    position: absolute;
    right: 50px;
    font-size: 30px;
    color: green;
  }
 }

.amount {
  margin-right: 50px;
}
